<div>
  <h5>Business Day {{event_date}}</h5>
  {{#if content.business_day.isLoaded}}
    {{#each item in content.business_day.ts}}
      <ul>
        <li>{{item.key}} : {{item.first_rep}} : <button {{action selectTimeSlot item}}>X</button></li>
      </ul>
    {{/each}}
  {{else}}
    <h5>Loading</h5>
  {{/if}}
</div>
