<div>
  <h5>Business Day {{event_date}}</h5>
  {{#if content.business_day.isLoaded}}
    {{#each item in content.business_day.ts}}
      <ul class="unstyled">
        <li>
          <div class = "btn btn-block" {{action selectTimeSlot item}}>
            <p>Client Time: {{item.time_client}}</p>
            <p>Local Time: {{item.time_local}}</p>
          </div>
        </li>
        {{!template 'time_slot' item}}
      </ul>
    {{/each}}
  {{else}}
    <h5>Loading</h5>
  {{/if}}
</div>
