<div>
  {{!controller}}
  <p>{{timezone}}</p>
  <p>Date: {{event_date}}</p>
</div>
<hr/>
{{view Em.Select contentBinding='App.tz_options' valueBinding='controller.content.timezone'}}
{{view App.DatePickerField  valueBinding='event_date'}}
<hr/>
{{outlet}}
<div class = "row-fluid">
  <div class="span3">
    spn
  </div>
  <div class="span3">
    {{view App.AccountView contentBinding="account"}}
  </div>
  <div class="span3">
    <div>
      {{view App.BusinessDayView }}
      {{!render 'business_day' business_day event_dateBinding='event_date' }}
    </div>
  </div>
</div>
