<div>
  {{!controller}}
  <p>{{timezone}}</p>
  <p>Date: {{sched_date}}</p>
</div>
<hr/>
{{view Em.Select contentBinding='App.tz_options' valueBinding='controller.content.timezone'}}
{{view App.DatePickerField  valueBinding='controller.content.sched_date'}}

{{outlet}}
<hr/>
{{render 'business_day'}}