<div class = "row-fluid">
  <div class="span3">
    <h5>Tour Options</h5>
    {{view Em.Select contentBinding='App.tz_options' valueBinding='controller.content.timezone'}}
    {{view App.DatePickerField  valueBinding='event_date'}}
    <hr/>
    <div>
      {{!controller}}
      <p>{{timezone}}</p>
      <p>Date: {{event_date}}</p>
    </div>
    {{outlet}}
  </div>
  <div class="span3">
    {{view App.AccountView contentBinding="account"}}
  </div>
  <div class="span3">
    <div>
      {{view App.BusinessDayView }}
      {{!render 'business_day' business_day event_dateBinding='event_date' }}
    </div>
  </div>
</div>
